<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <f:if condition="{job.contact}">
        <h3>
            <f:translate key="tx_academicjobs.fe.list.text.contact" extensionName="site" />
        </h3>
        <div class="job-detail-contact">
            <f:for each="{job.contact}" as="contact" iteration="iterator">
                <ul class="job-detail-contact-list">
                    <f:if condition="{job.image}">
                        <f:image image="{job.image}" class="job-image" width="200" />
                    </f:if>
                    <f:if condition="{contact.name}">
                        <li>
                            <span class="job-detail-contact-list-label">
                                <f:translate key="tx_academicjobs.fe.list.text.contact.name" extensionName="site" />
                            </span>
                            <span class="job-detail-contact-list-value">{contact.name}</span>
                        </li>
                    </f:if>
                    <f:if condition="{contact.email}">
                        <li>
                            <span class="job-detail-contact-list-label">
                                <f:translate key="tx_academicjobs.fe.list.text.contact.email" extensionName="site" />
                            </span>
                            <f:link.email email="{contact.email}" title="{f:translate(key: 'tx_academicjobs.fe.text.email_address_alt', extensionName: 'site', arguments: {0: '{contact.name}'})}">
                                {contact.email}
                            </f:link.email>
                        </li>
                    </f:if>
                    <f:if condition="{contact.phone}">
                        <li>
                            <span class="job-detail-contact-list-label">
                                <f:translate key="tx_academicjobs.fe.list.text.contact.phone" extensionName="site" />
                            </span>
                            <a href="tel:{contact.phone}" title="{f:translate(key: 'tx_academicjobs.fe.text.phone_number_alt', extensionName: 'site', arguments: {0: '{contact.name}'})}">
                                {contact.phone}
                            </a>
                        </li>
                    </f:if>
                    <f:if condition="{contact.additionalInformation}">
                        <li>
                            <p class="job-detail-contact-list-text">{contact.additionalInformation}</p>
                        </li>
                    </f:if>
                </ul>
                <f:if condition="!{iterator.isLast}">
                    <hr class="dividier">
                </f:if>
            </f:for>
        </div>
    </f:if>
</html>
