<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:if condition="{project.attributes}">
        <f:then>
            <f:variable
                name="cateoriesByType"
                value="{project.attributes.allCategoriesByType}"
            />
        </f:then>
        <f:else>
            <f:variable
                name="cateoriesByType"
                value="{project.categories.allCategoriesByType}"
            />
        </f:else>
    </f:if>
    <f:if condition="{cateoriesByType}">
        <dl>
            <f:for
                each="{cateoriesByType}"
                key="type"
                as="categories"
            >
                <f:if condition="{categories}">
                    <dt>
                        <core:icon identifier="category_types.projects.{type}"/>
                        {f:translate(
                            key: 'sys_category.academic_projects.{type}',
                            extensionName: 'academic_projects'
                        )}:
                    </dt>
                    <dd>
                        <f:for
                            each="{categories}"
                            as="category"
                            iteration="categoryIteration"
                        >
                            {category.title}{f:if(
                                condition="{categoryIteration.isLast} == false",
                                then: ','
                            )}
                        </f:for>
                    </dd>
                </f:if>
            </f:for>
        </dl>
    </f:if>
</html>
