<html
    lang="en"
    xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />
    <f:section name="Header">
        <header>
            <h1>{data.title}</h1>
        </header>
    </f:section>
    <f:section name="Main">
        <f:if condition="{settings.filter.options}==false">
            <div class="project-filter">
                <f:form
                    action="list"
                    id="project-filter"
                    name="filter"
                    object="{filter}"
                >
                    <div class="row">
                        <f:render partial="Project/FilterSorting" arguments="{_all}" />
                        <f:render partial="Project/FilterCategories" arguments="{_all}" />
                    </div>
                </f:form>
            </div>
        </f:if>
        <f:render partial="Project/Items" arguments="{_all}" />
    </f:section>
</html>
