<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:ct="http://typo3.org/ns/FGTCLB/CategoryTypes/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:if condition="{context.pageRecord.doktype} == 30">
    <f:comment><!--<div class="callout callout-warning">--></f:comment>
    <div>
        <table class="table table-striped">
            <tbody>
                <ct:be.category
                    page="{context.pageId}"
                    group="projects"
                >
                    <f:for
                        each="{category.allCategoriesByType}"
                        as="categories"
                        key="type"
                    >
                        <tr>
                            <td style="text-wrap: nowrap;">
                                <core:icon identifier="category_types.projects.{type}"/>
                            </td>
                            <td style="text-wrap: nowrap;">
                                <strong>
                                    {f:translate(
                                        key: 'sys_category.academic_projects.{type}',
                                        extensionName: 'academic_projects'
                                    )}
                                </strong>
                            </td>
                            <td style="width: 100%">
                                <f:if condition="{categories -> f:count()} > 0">
                                    <f:then>
                                        <ul>
                                            <f:for
                                                each="{categories}"
                                                as="category"
                                            >
                                                <li>{category.title}</li>
                                            </f:for>
                                        </ul>
                                    </f:then>
                                    <f:else>
                                        <p>
                                            {f:translate(
                                                extensionName: 'category_types',
                                                key: 'sys_category.not_set'
                                            )}
                                        </p>
                                    </f:else>
                                </f:if>
                            </td>
                        </tr>
                    </f:for>
                </ct:be.category>
            </tbody>
        </table>
    </div>
</f:if>
</html>
