<html
    xmlns:ap="http://typo3.org/ns/FGTCLB/AcademicPrograms/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <label for="sortingField">
        {f:translate(
            key: 'sorting.sortingField.label',
            extensionName: 'academic_projects'
        )}
    </label>
    <ap:form.sortingSelect
        id="sortingField"
        property="sortingField"
        value="{demand.sortingField}"
        type="fields"
        additionalAttributes="{'onchange': 'this.form.submit()'}"
        l10n="filter.sortingField"
    />

    <label for="sortingDirection">
        {f:translate(
            key: 'sorting.sortingDirection.label',
            extensionName: 'academic_projects'
        )}
    </label>
    <ap:form.sortingSelect
        id="sortingDirection"
        property="sortingDirection"
        value="{demand.sortingDirection}"
        type="directions"
        additionalAttributes="{'onchange': 'this.form.submit()'}"
        l10n="filter.sortingDirection"
    />
</html>
