<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:if condition="{projects}">
        <f:then>
            <div class="ace-list">
                <f:for
                    each="{projects}"
                    as="project"
                    iteration="iterator"
                >
                    <f:render
                        partial="Project/SingleItem"
                        arguments="{_all}"
                    />
                </f:for>
            </div>
        </f:then>
        <f:else>
            <p>No projects found.</p>
        </f:else>
    </f:if>
</html>
